.header{
    height: 70px;
    display: flex !important;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.174); */
    border-bottom: 1px solid rgba(0, 0, 0, .1);

}

.logo{
    font-size: 30px;
    margin-left: 30px;
}

.searchForm{
    width: 50%;
}

.header .searchForm .searchbutton{
    font-size: 14px !important;
    padding: 6px 15px !important;
    margin-left: 15px;
    margin-top: 10px;
    height: 40px;
    text-transform: capitalize !important;
    background:linear-gradient(180deg, rgba(82,96,213,1) 0%, rgba(38,109,199,1) 81%);
    color: white; 
    border-radius:6px; 
    transition: all 0.3s ease-in-out;
}

.list-inline-item{
    cursor: pointer;
}
.dropmenu{
    position: absolute;
    padding:10px 0;
    top: 10%;
    right: 0px;
    width: 200px;
    height: auto;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0 0 0/ 20%);
    z-index: 100;
}
.dropmenu li{

    list-style: none;
    width: 100%;
    opacity: 0.7;
   
}

.dropmenu li Button{
    width: 100%;
    color: #000;
    text-transform: capitalize;
    justify-content: flex-start;
    margin: 2px 0;
}
.dropmenu li Button:hover{
    background: #f1f1f1; 
}


.nav{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    /* border-top: 1px solid rgba(0, 0, 0, .1); */
    height: 60px;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center ;
}

.nav .capTab{

    font-size: 14px !important;
    padding: 6px 15px !important;
    text-transform: capitalize !important;
    background:linear-gradient(180deg, rgba(82,96,213,1) 0%, rgba(38,109,199,1) 81%);
    color: white;
    border-radius:10px; 

}


.nav nav ul li{
    position: relative;
}
.nav nav ul li Button {
    text-transform: capitalize;
    color: #000;
    font-size: 16px;
    /* padding: 10px; */
}




nav .dropdown_menu{
    position: absolute;
    top: 150%;
    left: 0px;
    width: 250px;
    height: auto;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0 0 0/ 20%);
    z-index: 100; 
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

nav .dropdown_menu li{
    width: 100%;
    margin: 0;
    padding-top: 5px;
}

nav .dropdown_menu li a button{
    width: 100%;
    color: #000;
    text-transform: capitalize;
    justify-content: flex-start;
    margin: 2px 0;
    padding: 5px 15px;
 
}
nav .dropdown_menu li button .FS{
    font-size: 14px;

}

nav .dropdown_menu li button:hover{

    background: #f1f1f1;
}

.nav nav li:hover .dropdown_menu{
 top: 120%;
 opacity: 1;
 visibility: inherit;

}


.registration {
    position: absolute;
    top: 5px;
    right: 30px;  /* You can adjust this value as needed */
    display: flex;
    align-items: center;
}

.registration ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}





.registration li .loginButton button{
    background-color: #2b6bc8 !important;
    color: white;
    font-size: 14px !important;
    padding: 8px 20px !important;
    margin-left: 15px;
    margin-top: 10px;
    height: 40px;
    border-radius: 15px;
    text-transform: capitalize !important;
  
}

.registration li .loginButton button:hover{
    background-color: #000000 !important;
    color: white !important;
   
}
